/*borders*/
.modal {
  position: fixed;
  bottom: 30px;
  right: 50px;
  max-width: 488px;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 16px 50px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 16px 50px 0 rgba(0, 0, 0, 0.24);
  padding: 20px;
  z-index: 10;
}
.modal .container {
  max-width: 450px;
  margin: 0 auto;
}
.modal .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 5px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dedfe5;
}
.modal .container header h3 {
  font: bold 24px Inter;
  color: #323749;
  text-transform: capitalize;
}
.modal .container header button {
  background: none;
  padding: 0;
}
.modal .container header button:hover {
  cursor: pointer;
}
.modal .container main {
  padding: 15px 0;
}
.modal .container main p {
  font: 16px/1.2em Inter;
  color: #323749;
}