
    $greenDefault: #00ae1c;
    $greenDisabled: #187727;
    $greenActive: #0cd52b;		
	$white: #ffffff;
    $gray: #b9b9b9;
	$grayDisabled: #c8c8c8;
	$grayHover: #efefef;
	$grayActive: #e0e0e0;
	$darkDefault: #323749;
	$darkDisabled: #737373;
	$darkLinkDisabled: #575d58;
	$red: #ff5620;

	/*borders*/
	$green: 1px solid #5ce171;
	$grayDefault: 1px solid #dedfe5;
    $grayDisabled: 1px solid #8d8e91;
	$borderRadius: 8px;
